{% autoescape xhtml_escape %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <title>VNC-me @ {{ hostname }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css" media="screen">
    a.suggest {
      text-decoration: none;
      border-bottom: 1px dashed #333;
      color: #737373;
    }
    a.suggest:hover {
      border-bottom: none;
    }
  </style>
</head>
<body>
<div class="container" style="margin-top: 15px; margin-bottom: 15px;">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="jumbotron">
        <h1>VNC-me</h1>
        <p>@{{ hostname }}</p>
      </div>
    </div>
  </div>


  {% if not session %}
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3  connect-form">
      <form action="/connect" method="POST">
      <fieldset>

        <legend>Новая сессия</legend>

        <div class="form-group">
          <label for="host">IP или hostname</label>
          <input id="host" name="host" type="text" class="form-control input-lg" required>
          <p class="help-block">
            Кажется, подойдёт <a href="#" class="suggest host-suggest">{{ user_host }}</a>.
          </p>
        </div>

        <div class="form-group">
          <label for="port">Порт</label>
          <input id="port" name="port" placeholder="5901" value="5901" required type="text" class="form-control input-lg">
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Показать</button>
      </fieldset>
      </form>

    </div>
  </div>


  {% else %}
  <div class="row">
      <div class="col-lg-6 col-lg-offset-3  connect-form">
        <form action="/abort" method="POST">
        <fieldset>

          <legend>Сессия запущена {{ session['duration'] }}</legend>

          <div class="form-group">
            <label>Адрес</label>
            <p class="lead">
              {{ session['last_host'] }}:{{ session['last_port'] }}
            </p>
          </div>

          <button type="submit" class="btn btn-lg btn-warning">Прервать</button>
        </fieldset>
        </form>

      </div>
    </div>
  {% end %}
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{% if not session %}
<script type="text/javascript">
$(function() {
  function ConnectForm($wrapper) {
    var self = this;
    this.$wrapper = $wrapper;
    $(function() {
      self.bind();
    });
  }

  ConnectForm.prototype.bind = function() {
    var self = this;
    this.$wrapper.find('.host-suggest').on('click', function(e) {
      e.stopPropagation();
      self.$wrapper.find('input[name="host"]').val($(this).text());
      return false;
    });
  }

  new ConnectForm($('.connect-form'));
});
</script>
{% end %}
</body>
</html>
